In [1]:
import pandas as pd

In [ ]:
df = pd.read_csv("supply_chain_dataset1.csv")
print(df.info)

<bound method DataFrame.info of              Date  SKU_ID Warehouse_ID Supplier_ID Region  Units_Sold  \
0      2024-01-01   SKU_1         WH_1       SUP_8   West          10
1      2024-01-02   SKU_1         WH_1       SUP_8   West          17
2      2024-01-03   SKU_1         WH_1       SUP_8  North          35
3      2024-01-04   SKU_1         WH_1       SUP_8  South          24
4      2024-01-05   SKU_1         WH_1       SUP_8   West          21
...           ...     ...          ...         ...    ...         ...
91245  2024-12-26  SKU_50         WH_5      SUP_10  South          17
91246  2024-12-27  SKU_50         WH_5      SUP_10  South          21
91247  2024-12-28  SKU_50         WH_5      SUP_10   East          17
91248  2024-12-29  SKU_50         WH_5      SUP_10  South          24
91249  2024-12-30  SKU_50         WH_5      SUP_10   West          15

       Inventory_Level  Supplier_Lead_Time_Days  Reorder_Point  \
0                  592                       14            379
1                  575                       14            379
2                  540                       14            379
3                  516                       14            379
4                  495                       14            379
...                ...                      ...            ...
91245              352                        7            283
91246              331                        7            283
91247              314                        7            283
91248              290                        7            283
91249              275                        7            283

       Order_Quantity  Unit_Cost  Unit_Price  Promotion_Flag  Stockout_Flag  \
0                   0      13.95       20.48               0              0
1                   0      13.95       20.48               0              0
2                   0      13.95       20.48               1              0
3                   0      13.95       20.48               0              0
4                   0      13.95       20.48               0              0
...               ...        ...         ...             ...            ...
91245               0       6.65        9.60               0              0
91246               0       6.65        9.60               0              0
91247               0       6.65        9.60               0              0
91248               0       6.65        9.60               1              0
91249               0       6.65        9.60               1              0

       Demand_Forecast
0                 8.52
1                18.63
2                39.62
3                19.43
4                18.70
...                ...
91245            19.82
91246            27.96
91247            22.13
91248            24.11
91249            20.19

[91250 rows x 15 columns]>

In [9]:
def dropping_nanvalues():
    df_nanvalues = df.dropna()
    print(df.info())
    
dropping_nanvalues()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91250 entries, 0 to 91249
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Date                     91250 non-null  object
 1   SKU_ID                   91250 non-null  object
 2   Warehouse_ID             91250 non-null  object
 3   Supplier_ID              91250 non-null  object
 4   Region                   91250 non-null  object
 5   Units_Sold               91250 non-null  int64
 6   Inventory_Level          91250 non-null  int64
 7   Supplier_Lead_Time_Days  91250 non-null  int64
 8   Reorder_Point            91250 non-null  int64
 9   Order_Quantity           91250 non-null  int64
 10  Unit_Cost                91250 non-null  float64
 11  Unit_Price               91250 non-null  float64
 12  Promotion_Flag           91250 non-null  int64
 13  Stockout_Flag            91250 non-null  int64
 14  Demand_Forecast          91250 non-null  float64
dtypes: float64(3), int64(7), object(5)
memory usage: 10.4+ MB
None