In [78]:
import pandas as pd

In [86]:
df = pd.read_csv("supply_chain_dataset1.csv", keep_default_na=False, na_values = ['NA', '0'])

In [92]:
def transforming_data():
    df.dropna()
    df[df.duplicated()]
    pd.to_datetime(df['Date'])
    df[df['Unit_Price'] > 0]
    df[df['Unit_Cost'] > 0]

    print(df)
    
transforming_data()

             Date  SKU_ID Warehouse_ID Supplier_ID Region  Units_Sold  \
0      2024-01-01   SKU_1         WH_1       SUP_8   West        10.0
1      2024-01-02   SKU_1         WH_1       SUP_8   West        17.0
2      2024-01-03   SKU_1         WH_1       SUP_8  North        35.0
3      2024-01-04   SKU_1         WH_1       SUP_8  South        24.0
4      2024-01-05   SKU_1         WH_1       SUP_8   West        21.0
...           ...     ...          ...         ...    ...         ...
91245  2024-12-26  SKU_50         WH_5      SUP_10  South        17.0
91246  2024-12-27  SKU_50         WH_5      SUP_10  South        21.0
91247  2024-12-28  SKU_50         WH_5      SUP_10   East        17.0
91248  2024-12-29  SKU_50         WH_5      SUP_10  South        24.0
91249  2024-12-30  SKU_50         WH_5      SUP_10   West        15.0

       Inventory_Level  Supplier_Lead_Time_Days  Reorder_Point  \
0                  592                       14            379
1                  575                       14            379
2                  540                       14            379
3                  516                       14            379
4                  495                       14            379
...                ...                      ...            ...
91245              352                        7            283
91246              331                        7            283
91247              314                        7            283
91248              290                        7            283
91249              275                        7            283

       Order_Quantity  Unit_Cost  Unit_Price  Promotion_Flag  Stockout_Flag  \
0                 NaN      13.95       20.48             NaN            NaN
1                 NaN      13.95       20.48             NaN            NaN
2                 NaN      13.95       20.48             1.0            NaN
3                 NaN      13.95       20.48             NaN            NaN
4                 NaN      13.95       20.48             NaN            NaN
...               ...        ...         ...             ...            ...
91245             NaN       6.65        9.60             NaN            NaN
91246             NaN       6.65        9.60             NaN            NaN
91247             NaN       6.65        9.60             NaN            NaN
91248             NaN       6.65        9.60             1.0            NaN
91249             NaN       6.65        9.60             1.0            NaN

       Demand_Forecast
0                 8.52
1                18.63
2                39.62
3                19.43
4                18.70
...                ...
91245            19.82
91246            27.96
91247            22.13
91248            24.11
91249            20.19

[91250 rows x 15 columns]

In [80]:
def dropping_nanvalues():
    df_nanvalues = df.dropna()

In [88]:
def duplicates_rows():
    duplicate_rows_df = df[df.duplicated()]

In [89]:
def conv_data_time():
    converted_date = pd.to_datetime(df['Date'])
    print(converted_date)

conv_data_time()

0       2024-01-01
1       2024-01-02
2       2024-01-03
3       2024-01-04
4       2024-01-05
           ...
91245   2024-12-26
91246   2024-12-27
91247   2024-12-28
91248   2024-12-29
91249   2024-12-30
Name: Date, Length: 91250, dtype: datetime64[ns]

In [90]:
def bussiness_rules():
    unit_price = df[df['Unit_Price'] > 0]
    unit_cost = df[df['Unit_Cost'] > 0]